*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    background: #171717;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/lux3.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff; 
    text-shadow: 0px 0px 5px #974db9;
}

p {
    margin-bottom: 40px;
    font-size: 20 px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.service {
    padding: 30px;
    background: #1f1d1d;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .2);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

@media (max-width: 767px) {
  .box-container .box {
    width: 100%;
  }
}

.about {
    background: #171717;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    background: url(img/lux8.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
}

@media screen and (max-width:700px){

    .header{
        height: 80vh !important;
    }
    
    .title {
        margin-bottom: 0;
        font-size: 30px;
    }
    .service {
        height: 100%;
    }
   
    .about{
      height: 50vh !important;
    }

    .price{
      height: 50vh !important;
    }

    .btn{
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        padding: 0 50px;
    }
}
.contact {
  padding-top: 20px;
  background: #171717;
}


/* Slider */

.slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.slick-dots button {
  background-color: transparent;
  border: none;
  outline: none;
}


.slick-dots li button::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999;
}

.slick-dots li.slick-active button::before {
  background-color: #333;
}



/* FIN Slider */


/* Menu */

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #fff;
  }
  .nav-links {
      display: flex;
      justify-content:space-around;
      width: 50%;
      text-transform: uppercase;
      list-style-type: none;
  }
  .nav-links a{
    display: block;
     text-transform: uppercase;
     text-decoration: none;
     color: #fff;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
    padding: 20px 20px;
  }
  .nav-links a:hover{
    color:#9c27b0;
    letter-spacing: 5px;
  }
  .burger{
    display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition:all 0.5s ease;
  }

  @media only screen and (max-width: 760px){
     nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
    .nav-links{
      position: absolute;
      right: 0;
      top:8vh;
      min-height:92vh;
      background: #1f1d1d;
      display: flex;
      flex-direction: column;
      align-items: center;   
      width: 50%;
      margin: 0;
      padding: 0;
      transform: translateX(100%);
      transition:All 0.5s ease-in;
    }
    .nav-links a{
      opacity: 0;
   
    }
    .burger{
      display: block;
    }
   
  }

  @media only screen and (max-width: 640px){
    nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @media only screen and (max-width: 460px){
    .nav-links{
      width: 100%;
      transition:All 0.5s ease;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px );
  }
  .toggle .line2{
     opacity: 0;
  }
  .toggle .line3{
     transform: rotate(45deg) translate(-5px,-6px );
  }
  .toggle .line4{
    opacity: 0;
  }

/* FIN MENU */





/* FORM */

.content{
  background-color: #101010;
  padding: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400);

form{
  padding: 60px;
  max-width: 400px;
  background-color: #242424;
  margin: 0 auto;
  border-radius: 20px;
}

form label{
  color: #fff;
}

form input{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border-radius: 10px; 
  color: #ffffff; 
  font-size: 1em;
  resize: none;
  background-color: #9b9b9b; 
}

form button{
  background-color: #242424;
  margin-bottom: 10px;
}

form a{
  color: rgb(121, 121, 247);
}

/* FIN FORM */





/* MODAL */

.modalContainer {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
  background-color: #242424;
  margin: auto;
  padding: 20px;
  border: 1px solid #242424;
  border-top: 10px solid #9c27b0;
  width: 40%;
  height: 60%;
}

.modalContainer .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.title-modal{
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color:#fff; 
  text-shadow: 0px 0px 5px #974db9;
}

.modal-price{
  font-size: 30px;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

@media screen and (max-width:800px) {
    .modalContainer .modal-content{
      width: 80%;
      height: 90%;
      padding: 0; 
    }

    .title-modal{
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 30px;
    }

    .modal-price{
      font-size: 15px;
      margin: 0;
    }
}




/* FOOTER */

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #171717;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
  padding: 0 50px;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 1px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.9;
  }
}




/* Cookies */

.cajacookies {
  display: none;
  box-shadow: 0px 0px 5px 5px #808080;
  background-color: rgb(255, 255, 255, 0.8);
  color: black;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.cajacookies button {
  color: black;
  background-color: rgba(179, 179, 179, 0.9);
}

.cajacookies button:hover {
  color: black;
  background-color: rgba(104, 164, 192, 0.9);
}

.cajacookies p{
  color: #000;
}


/* Contenido modal */

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800);
.snip1214 {
font-family: 'Raleway', Arial, sans-serif;
color: #000000;
text-align: center;
font-size: 16px;
width: 100%;
max-width: 1000px;
margin: auto;
}
.snip1214 .plan {
margin: 0;
width: 25%;
position: relative;
float: left;
background-color: #ffffff;
border: 1px solid rgba(0, 0, 0, 0.1);
}
.snip1214 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.snip1214 header {
position: relative;
}
.snip1214 .plan-title {
position: relative;
top: 0;
font-weight: 800;
padding: 5px 15px;
margin: 0 auto;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
margin: 0;
display: inline-block;
background-color: #222f3d;
color: #ffffff;
text-transform: uppercase;
}
.snip1214 .plan-cost {
padding: 0px 10px 20px;
}
.snip1214 .plan-price {
font-family: 'Montserrat', Arial, sans-serif;
font-weight: 800;
font-size: 2.4em;
color: #34495e;
}
.snip1214 .plan-type {
opacity: 0.6;
}
.snip1214 .plan-features {
padding: 0;
margin: 0;
text-align: center;
list-style: outside none none;
font-size: 0.8em;
}
.snip1214 .plan-features li {
border-top: 1px solid #d2d7e2;
padding: 10px 5%;
}
.snip1214 .plan-features li:nth-child(even) {
background: rgba(0, 0, 0, 0.08);
}
.snip1214 .plan-features i {
margin-right: 8px;
opacity: 0.4;
}
.snip1214 .plan-select {
border-top: 1px solid #d2d7e2;
padding: 10px 10px 0;
}
.snip1214 .plan-select a {
background-color: #222f3d;
color: #ffffff;
text-decoration: none;
padding: 0.5em 1em;
-webkit-transform: translateY(50%);
transform: translateY(50%);
font-weight: 800;
text-transform: uppercase;
display: inline-block;
}
.snip1214 .plan-select a:hover {
background-color: #46627f;
}
.snip1214 .featured {
margin-top: -10px;
background-color: #34495e;
color: #ffffff;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
z-index: 1;
}
.snip1214 .featured .plan-title,
.snip1214 .featured .plan-price {
color: #ffffff;
}
.snip1214 .featured .plan-cost {
padding: 10px 10px 20px;
}
.snip1214 .featured .plan-features li {
border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.snip1214 .featured .plan-select {
padding: 20px 10px 0;
border-top: 1px solid rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 767px) {
.snip1214 .plan {
width: 50%;
}
.snip1214 .plan-title,
.snip1214 .plan-select a {
-webkit-transform: translateY(0);
transform: translateY(0);
}
.snip1214 .plan-cost,
.snip1214 .featured .plan-cost {
padding: 20px 10px 20px;
}
.snip1214 .plan-select,
.snip1214 .featured .plan-select {
padding: 10px 10px 10px;
}
.snip1214 .featured {
margin-top: 0;
}
}
@media only screen and (max-width: 440px) {
.snip1214 .plan {
width: 90%;
margin: 10px auto;
}
}

