{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <h2 class="title">DJ/s</h2>
        <div class="contentDJ">

            <div class="imagenDJ">
                <img src="img/dj.jpg">
            </div>

            <div class="textoDJ">
                <p>En nuestra discoteca, la música es lo más importante, y eso significa que solo trabajamos con los mejores DJs de la ciudad. Nuestro equipo de DJs es una mezcla de veteranos experimentados y nuevos talentos que están revolucionando la escena musical local.</p>
                <p>Desde la música electrónica hasta el hip hop, pasando por el pop y el rock, nuestros DJs son expertos en leer la pista de baile y crear una atmósfera inolvidable en cada noche que pasas con nosotros. Además, cada semana traemos invitados especiales de renombre nacional e internacional, para que siempre puedas disfrutar de lo mejor de lo mejor.</p>
                <p>Nuestros DJs no solo tienen habilidades técnicas excepcionales, sino que también son verdaderos artistas que crean una experiencia musical única y personalizada. Con la mejor tecnología de sonido y luces, nuestra pista de baile es un lugar donde la música se convierte en una experiencia sensorial y emocional que no querrás perderte.</p>
                <p>¡Ven a nuestra discoteca y déjate llevar por la música de nuestros increíbles DJs!</p>
            </div>
        </div>

    </div>

{% endblock %}