{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <h2 class="title">Datos personales</h2>
        <form id="formularioEntradas">
            <label for="name">Nombre y Apellidos: </label>
            <input type="text" name="name" id="name">
            <label for="dni">DNI/NIE: </label>
            <input type="text" name="dni" id="dni">
            <label for="email">Correo: </label>
            <input type="email" name="email" id="email">
            <label for="email">Fecha: </label>
            <input type="text" id="datepicker">
            <button type="submit" class="btn">Proceder a pagar</button>
        </form>
    </div>

{% endblock %}