{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <h2 class="title">Guardarropa</h2>
        <p>Contamos con un servicio de guardarropa para que puedas disfrutar de la fiesta sin preocuparte por tus pertenencias. Nuestro personal altamente capacitado cuidará de tus objetos personales y te los entregará al final de la noche.</p>
        <img src="img/guardarropa.jpg">
    </div>

{% endblock %}