{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <h2 class="title">LUX VIP</h2>
        <form id="form">
            <label for="email">Correo </label>
            <input type="email" name="email" id="email">
            <label for="password">Contraseña: </label>
            <input type="password" name="password" id="password">
            <button type="submit" class="btn">Entrar</button><br>
            <a class="a-register" href="{{ path('register')}}">Registrarse</a>
        </form>
    </div>

{% endblock %} 