{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="content">
        <h2 class="title">Nosotros</h2>

        <div class="fotorama"
            data-nav="thumbs"
            data-allowfullscreen="true">
            <a href="img/lux1.jpg"><img src="img/lux1.jpg" width="144" height="96"></a>
            <a href="img/lux2.jpg"><img src="img/lux2.jpg" width="144" height="96"></a>
            <a href="img/lux3.jpg"><img src="img/lux3.jpg" width="144" height="96"></a>
            <a href="img/lux4.jpg"><img src="img/lux4.jpg" width="144" height="96"></a>
            <a href="img/lux6.jpg"><img src="img/lux6.jpg" width="144" height="96"></a>
        </div>

    </div>

{% endblock %}