{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="content">
        <h2 class="title">Nosotros</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hRXDdLudYbg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{% endblock %}